/**/
@font-face {
    font-family: "Yanone";
    src: url("./assets/fonts/YanoneKaffeesatz-VariableFont_wght.ttf") format("truetype supports variations"),
        url("./assets/fonts/YanoneKaffeesatz-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 200 700;
}

@font-face {
    font-family: "RobotoThin";
    src: url("./assets/fonts/RobotoMono-Thin.ttf");
    font-weight: 400;
}
/**/

/** /
// yanone-kaffeesatz-200 - latin
@font-face {
    font-family: "Yanone";
    font-style: normal;
    font-weight: 200;
    src: local("Yanone Kaffeesatz"), url("./assets/fonts/yanone-kaffeesatz-v22-latin-200.woff2") format("woff2"); // Chrome 26+, Opera 23+, Firefox 39+
}
/**/
/** /
// yanone-kaffeesatz-700 - latin
@font-face {
    font-family: "Yanone";
    font-style: bold;
    font-weight: 700;
    src: local("Yanone Kaffeesatz"), url("./assets/fonts/yanone-kaffeesatz-v22-latin-700.woff2") format("woff2"); // Chrome 26+, Opera 23+, Firefox 39+
}
/**/

/* https://divriots.com/blog/vite-in-the-browser */
/*
@font-face {
    font-family: Heading;
    src: local("Good Brush"), url("./assets/fonts/Good Brush.woff") format("woff");
    font-display: block;
} */

/* body {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='sGrid' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Cpath d='M 10 0 L 0 0 0 10' fill='none' stroke='%23fff' stroke-width='0.3' stroke-opacity='0.5' /%3E%3C/pattern%3E%3Cpattern id='mGrid' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect width='100' height='100' fill='url(%23sGrid)' /%3E%3Cpath d='M 100 0 L 0 0 0 100' fill='none' stroke='%23fff' stroke-width='2' stroke-opacity='0.2' /%3E%3C/pattern%3E%3Cpattern id='lGrid' width='200' height='200' patternUnits='userSpaceOnUse'%3E%3Crect width='200' height='200' fill='url(%23mGrid)' /%3E%3Cpath d='M 200 0 L 0 0 0 200' fill='none' stroke='%23fff' stroke-width='2' stroke-opacity='0.2' /%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='%230071b8' /%3E%3Crect width='100%25' height='100%25' fill='url(%23lGrid)' /%3E%3C/svg%3E");
} */

/*
.inclusively-hidden { /* Hide things visually but keep them readable by screenreaders https://css-tricks.com/inclusively-hidden * /
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}
*/
.custom-cursor {
    /* cursor: url("./assets/cursors/asset3.png"), default; */
    cursor: url("./assets/cursors/asset4-32white-outline.png"), default;
    /* cursor: url("./assets/cursors/asset5-128.png"), default; */
}

//https://couleur.io
// :root {
//     --base-hue: 15;
//     --base-sat: 40%;
//     /* full color palette, from dark to light */
//     --clr-10: hsl(var(--base-hue), var(--base-sat), 10%);
//     --clr-20: hsl(var(--base-hue), var(--base-sat), 20%);
//     --clr-30: hsl(var(--base-hue), var(--base-sat), 30%);
//     --clr-40: hsl(var(--base-hue), var(--base-sat), 40%);
//     --clr-50: hsl(var(--base-hue), var(--base-sat), 50%);
//     --clr-60: hsl(var(--base-hue), var(--base-sat), 60%);
//     --clr-70: hsl(var(--base-hue), var(--base-sat), 70%);
//     --clr-80: hsl(var(--base-hue), var(--base-sat), 80%);
//     --clr-90: hsl(var(--base-hue), var(--base-sat), 90%);
//     --clr-95: hsl(var(--base-hue), var(--base-sat), 95%);
//     --primary-lightness: 50%;
//     /* primary color in varying opacity levels */
//     --primary: hsl(var(--base-hue), var(--base-sat), var(--primary-lightness));
//     --primary-75: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 75%);
//     --primary-50: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 50%);
//     --primary-25: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 25%);
//     --primary-15: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 15%);
//     --primary-10: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 10%);
//     --accent-hue: calc(var(--base-hue) + 180);
//     --accent-lightness: 50%;
//     /* accent color in varying opacity levels */
//     --accent: hsl(var(--accent-hue), var(--base-sat), var(--accent-lightness));
//     --accent-75: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 75%);
//     --accent-50: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 50%);
//     --accent-25: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 25%);
//     --accent-15: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 15%);
//     --accent-10: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 10%);
//   }
