.label {
    display: inline-block;
    font-size: 1.3em;
    color: #444;
    cursor: pointer;
    border: 2px solid #888;
    padding: 0.5em 1.2em 0.4em;
    border-radius: 2em;
    user-select: none;

    &:after {
        content: "Unlocked";
    }

    input:checked + &:after {
        content: "Locked";
    }

    // Keyboard-only focus-styles
    // https://css-tricks.com/keyboard-only-focus-styles/
    input:focus-visible + & {
        box-shadow: 0 0 0 5px lightblue;
    }

    &:hover {
        background-color: #fafafa;
        border-color: #444;
    }
}

.inclusively-hidden {
    // Hide things visually but keep them readable by screenreaders
    // https://css-tricks.com/inclusively-hidden/
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

svg {
    display: inline-block;
    vertical-align: middle;
    width: 0.9em;
    height: auto;
    fill: #555;
    margin-right: 0.3em;
    transform: translateY(-0.2em);

    path {
        transition: transform ease 0.15s;
    }

    input:not(:checked) + label & {
        path:nth-child(1) {
            transform: translateY(-2px);
        }

        path:nth-child(2) {
            transform: translateY(0.5px);
        }
    }
}
